* {
    box-sizing: border-box;
    margin: 0;
  }
   
  :root {
    --saffron : #ff6600;
    --green : #046434;
    --blue: #1c1ca5;
  }
   
  .flag {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px rgba(0, 0, 0,0.5);
  }
   
  .flag > * {
    flex:1;
  }
   
  .saffron {
    background-color: var(--saffron);
  }
   
  .white {
    background-color: white;
    position: relative;
  }
  .green {
    background-color: var(--green);
  }
   
  .wheel {
    height: 100%;
    width: 67px;
    border-radius: 1in;
    margin: 0 auto;
    border: 2q solid var(--blue);
    position: relative;
    display: grid;
    place-items: center;
  }
   
  .spoke {
    height: 50%;
    width: 2px;
    position: absolute;
    top: 0;
    clip-path: polygon(50% 0, 50% 0, 100% 70%, 50% 100%, 50% 100%, 0 70%);
    transform-origin: bottom;
    background-color: var(--blue);
  }